body {
    margin: 0;
}
.crosshaircontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.crosshair {
    border: solid black 1.5px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    height: 3px;
    width: 3px;
}